body{
    background-color: azure;
    width: 100%;
    height: 100%;
}
.navbar{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background: rgb(153, 196, 153);
    width: 1600px;
    height: 200px;
    
  }
  #menu li {
      display : inline;
      margin-right:190px;
  }
  #menu li a {
      Text-decoration: none;
      Color: #000000;
      font-size:30px;
      Transition: blackground-color 0.6 ease;
  }
  #menu li a:hover{
    background: rgb(153, 196, 153);
  }
  
  #pie{
    background: rgb(152, 180, 152);
    margin: 0px;
    padding: 0px;
    width: 1590px;
    height: 200px;
  } 
  .titulo{
    background-color:gray;
    text-align:center;
      font-family: cursive;
      width: 1500px;
      height: 70px;
  }

/* Estilos para el contenedor del carrusel */
.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  /* Estilos para las diapositivas */
  .slide {
    display: none; /* Oculta todas las diapositivas por defecto */
  }
  
  /* Estilos para diapositiva activa (visible) */
  .slide.active {
    display: block; /* Muestra la diapositiva activa */
  }
  
  /* Estilos para los botones de navegación */
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  
  /* Estilos para el botón de navegación izquierdo */
  .prev {
    left: 0;
  }
  
  /* Estilos para el botón de navegación derecho */
  .next {
    right: 0;
  }
  